<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="message"/> {{message}}
    <br/>
    <br/>
    单选框：<input type="checkbox" id="checkbox" v-model="checked"/><label for="checkbox">{{checked}}</label>
    <br/>
    <br/>
    复选框：<input type="checkbox" id="a" value="a" v-model="checkboxNames"/>
            <span for="a">a</span>
            <input type="checkbox" id="b" value="b" v-model="checkboxNames"/>
            <span for="b">b</span>
            <input type="checkbox" id="c" value="c" v-model="checkboxNames"/>
            <span for="c">c</span>

    选择的值：<span>{{checkboxNames}}</span>
    <br/>
    <br/>
    单选按钮：<input type="radio" name="check" value="One" v-model="checkVal">
              <input type="radio" name="check" value="Tow" v-model="checkVal">
    选中的值：<span>{{checkVal}}</span>
    <br/>
    <br/>
    下拉框选择：
              <select v-model="selected">
                    <option disabled value="">请选择</option>
                    <option value="A"> A </option>
                    <option value="B"> B </option>
                    <option value="C"> C </option>
              </select>
    选择的值：<span>{{selected}}</span>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
<script type="text/javascript">
    var vm = new Vue({
      el:"#app",
      data:{
          message:"hello model",
          checked:true,
          checkboxNames:[],
          checkVal:'没有选择值，请选择',
          selected:''
      }
    });
</script>
</body>
</html>